version: 0.0
Resources:
  - PaymentCryptographyLambda:
      Type: AWS::Lambda::Function
      Properties:
        Name: ${LAMBDA_FUNCTION_NAME}
        Alias: live
        CurrentVersion: ${CURRENT_VERSION}
        TargetVersion: ${TARGET_VERSION}
